* {
    letter-spacing: 2.5px;
}

.app-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section-label {
    margin-bottom: 20px;
    display: block;
}

.section {
    margin: 20px 0;
}

.checkbox-input {
    margin-right: 10px;
}

.section-header {
    margin-bottom: 10px;
}