.switch {
  width: 100px;
  letter-spacing: 5px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f0f0f0;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ;
}

.switch-on {
  background-color: rgba(0, 225, 255, 0.725); 
}

.switch-off {
  background-color: #ccc; 
}

.switch-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #e0e0e0; 
}

.switch-handle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.3s;
}

.switch-on .switch-handle {
  left: calc(100% - 25px); 
}

.switch-off .switch-handle {
  left: 5px;
}

